---
const birthdate = new Date('2003-10-01T00:00:00')
const currentDate = new Date()

let age = currentDate.getFullYear() - birthdate.getFullYear()

const hasBirthdayPassed = currentDate.getMonth() > birthdate.getMonth() ||(
  currentDate.getMonth() === birthdate.getMonth() &&
  currentDate.getDate() >= birthdate.getDate()
)

if (!hasBirthdayPassed) {
  age--
}
---

<section class="mb-16 space-y-4">
  <p class="text-base leading-relaxed">
    Soy <span title="loadept">Jesus Gonzalo Machaca Hancco</span>,
    tengo {age} años y vivo en <strong class="font-extrabold">Perú</strong>.
    Soy un entusiasta del software libre y el open source.
    Paso la mayor parte de mi tiempo programando y construyendo software,
    todo mientras escucho música, en especial <strong class="font-extrabold">Metal</strong> (˶ᵔ ᵕ ᵔ˶).
  </p>
  <p class="text-base leading-relaxed">
    Mi lenguaje predilecto es <strong class="font-extrabold">Go</strong>,
    por su simplicidad y lo divertido que me resulta,
    aunque también manejo con solidez <strong class="font-extrabold">Python</strong>,
    <strong class="font-extrabold">Node.js</strong> y <strong class="font-extrabold">Bun</strong>.
  </p>
  <p class="text-muted-foreground">
    (i use arch linux btw)
  </p>
</section>
