---
import formatDate from "../../shared/lib/formatDate"

interface Props {
  date: string
}
const { date } = Astro.props
---

<div class="flex items-center mr-4 text-muted-foreground">
  Actualizado {formatDate(date, "long")}
</div>
