---
import {
  ChevronLeft,
} from "lucide-preact"

interface Props {
  href: string
  text: string
}

const { href, text } = Astro.props
---

<a
  href={href}
  class="inline-flex items-center text-primary mb-8 hover:underline transition-colors"
>
  <ChevronLeft className="h-5 w-5 mr-1" />
  {text}
</a>
