---
import {
  Download,
} from "lucide-preact"
import { ThemeButton } from "./ThemeButton"

---

<header class="border-b border-border py-8 sticky top-0 bg-background z-50">
  <div class="max-w-2xl mx-auto px-6">
    <div class="flex items-center justify-between">
      <a href="/" class="flex items-center gap-3 hover:opacity-80 transition-opacity">
        <!-- <div class="w-10 h-10 rounded-full border-2 border-primary flex items-center justify-center">
          <span class="text-primary font-bold">∞</span>
        </div> -->
        <span class="text-2xl font-bold">loadept</span>
      </a>
      <div class="flex items-center">
        <ThemeButton client:load />
        <a
          href="#cv"
          class="text-primary hover:text-accent flex items-center gap-1 text-sm transition-colors"
          title="download cv"
        >
          <Download class="h-4 w-4" /> CV
        </a>
      </div>
    </div>
  </div>
</header>
