---
const currentDate = new Date().getFullYear()
---

<footer class="py-8 mt-16">
  <div class="max-w-2xl mx-auto px-4">
    <div class="flex items-center justify-between text-center">
      <p class="text-xs text-muted-foreground">
        loadept <span class="text-[#e06c75]">-</span> {currentDate}
      </p>
      <a href="https://loadept.com/s/lwP9" target="_blank" title="source code" class="text-xs">
        <span class="outline-none text-primary hover:text-accent">Código fuente</span>
      </a>
    </div>
  </div>
</footer>
