---
import {
  Download,
} from "lucide-preact"
import { ThemeButton } from "./ThemeButton"

---

<header class="py-6 top-0 bg-background z-50">
  <div class="max-w-2xl mx-auto px-6">
    <div class="flex items-center justify-between">
      <a href="/" class="flex items-center gap-4 hover:opacity-80 transition-opacity">
        <div class="w-12 h-12 shrink-0 overflow-hidden rounded-full">
          <img src="/images/draw.webp" alt="logo" class="w-full h-full object-cover" />
        </div>
        <span class="text-2xl font-bold">loadept</span>
      </a>
      <div class="flex items-center">
        <ThemeButton client:load />
        <a
          href="#cv"
          class="text-primary hover:text-accent flex items-center gap-1 text-sm transition-colors"
          title="download cv"
        >
          <Download class="h-4 w-4" /> CV
        </a>
      </div>
    </div>
  </div>
</header>
