---
import {
  Calendar
} from "lucide-preact"
import formatDate from "../../shared/lib/formatDate"

interface Props {
  date: string
}
const { date } = Astro.props
---

<div class="flex items-center mr-4 text-muted-foreground">
  <Calendar class="h-4 w-4 mr-1" />
  {formatDate(date, 'numeric')}
</div>
