---
import Layout from '../layouts/Layout.astro'
import Intro from '../modules/home/components/intro.astro'
import { Content } from '../modules/home/components/Content'
import type { Post, Resources, ContactLink } from '../modules/home/types/home'
import type { FrontMatter } from '../modules/shared/types/frontmatter'
import ContactSection from '../modules/home/components/ContactSection.astro'

const allPosts = import.meta.glob('../content/posts/**/*.md', { eager: true })
const posts: Post[] = Object.entries(allPosts)
  .map(([filePath, post]: [string, any]) => {
  const slug = filePath.replace('../content/posts/', '').replace('.md', '').trim()
	const frontmatter: FrontMatter = post.frontmatter

	return {
		slug: slug,
		title: frontmatter.title,
		date: frontmatter.date,
		category: frontmatter.category,
	}
})
const categories: string[] = Array.from(
	new Map(posts.map(p => ([p.category, p.category]))).values()
)

const resources: Resources[] = [
	{
		name: "Software",
		items: [
			{
				label: "db-mcp",
				description: "Servidor MCP para multiples bases de datos (solo lectura).",
				url: "https://loadept.com/s/uEZQ",
			},
			{
				label: "qtheme",
				description: "Herramienta para gestionar temas del WM qtile.",
				url: "https://loadept.com/s/qmvD",
			},
      {
        label: "cursor-live",
        description: "Mira cómo funcionan los websockets con este experimento.",
        url: "https://live.loadept.com"
      }
		],
	},
  {
    name: "Notas",
    items: []
  }
]

const links: ContactLink = [
  {
    label: "Email",
    text: "hi@loadept.com",
    url: "mailto:hi@loadept.com?subject=Hi Loadept!",
  },
  {
    label: "Github",
    text: "Loadept",
    url: "https://loadept.com/s/gh",
  },
  {
    label: "Linkedin",
    text: "Jesus Gonzalo Machaca Hancco",
    url: "https://loadept.com/s/linkedin",
  },
  {
    label: "Tiktok",
    text: "@loadept",
    url: "https://loadept.com/s/tiktok",
  },
]
---

<Layout 
	title="loadept"
	description="Mi sitio web personal, comparto notas y recursos relacionados con el desarrollo de software :) ."
	keywords="notas, go, linux, backend, devops, software development"
>
	<div class="max-w-2xl mx-auto px-6 py-12">
		<Intro />
		<Content
			client:load
			categories={categories}
			posts={posts}
			resources={resources}
		/>
		<ContactSection links={links} />
	</div>
</Layout>
