---
import Layout from '../layouts/Layout.astro'
import Intro from '../modules/home/components/intro.astro'
import { Content } from '../modules/home/components/Content'
import type { Resources } from '../modules/home/types/home'
import type { FrontMatter } from '../modules/shared/types/frontmatter'
import ContactSection from '../modules/home/components/ContactSection.astro'

const allPosts = import.meta.glob('../content/posts/**/*.md', { eager: true })
const posts = Object.entries(allPosts).map(([filePath, post]: [string, any]) => {
  const slug = filePath.replace('../content/posts/', '').replace('.md', '').trim()
	const frontmatter: FrontMatter = post.frontmatter

	return {
		slug: slug,
		title: frontmatter.title,
		date: frontmatter.date,
		category: frontmatter.category,
	}
})
const categories: string[] = Array.from(
	new Map(posts.map(p => ([p.category, p.category]))).values()
)

const resources: Resources[] = [
	{
		label: "Software",
		items: [
			{
				label: "db-mcp",
				description: "Servidor MCP para multiples bases de datos (solo lectura).",
				url: "https://loadept.com/s/uEZQ",
			},
			{
				label: "qtheme",
				description: "Herramienta para gestionar temas del WM qtile.",
				url: "https://loadept.com/s/qmvD",
			}
		],
	},
  {
    label: "Notas",
    items: []
  }
]
---

<Layout 
	title="loadept"
	description="Desarrollador de software. Notas sobre Go, Linux y programación"
	keywords="notas, go, linux, backend, devops, software development"
>
	<div class="max-w-2xl mx-auto px-6 py-12">
		<Intro />
		<Content
			client:load
			categories={categories}
			posts={posts}
			resources={resources}
		/>
		<ContactSection />
	</div>
</Layout>
