name: Deploy project

on:
  push:
    branches: [master]

jobs:
  deploy-on-server:
    environment: production

    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        run: |
          docker build \
          -t ghcr.io/loadept/website:${{ github.sha }} \
          -t ghcr.io/loadept/website \
          .

          docker push ghcr.io/loadept/website:${{ github.sha }}
          docker push ghcr.io/loadept/website:latest

      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_KEY }}
          script: |
            cd /srv/loadept
            docker compose pull
            docker compose up -d
            docker image prune -f
